body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.navbar-brand, .navbar-cart {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.navbar-brand img, .navbar-cart img {
  margin-right: 0.5rem;
}

.navbar-cart img {
  filter: invert(1) brightness(2);
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: brightness(50%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pizza-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(226, 226, 226);
}


.pizza-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
}


.pizza-card h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.pizza-card ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.pizza-card p {
  font-size: 1.2rem;
  color: #333;
}


 .button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.2rem;
  cursor: pointer;
  border-radius: 4px;
} 

/* .button-cart {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.2rem;
  cursor: pointer;
  border-radius: 4px;
}  */

.button-cart {
  background-color: #0056b3;
}

.button:hover {
  background-color: #0056b3;
}

.pizza-detail {
  display: flex;
  padding: 2rem;
}

.pizza-detail-image {
  width: 50%;
  object-fit: cover;
  border-radius: 0px;
}

.pizza-detail-info {
  padding: 2rem;
}

.pizza-detail-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.pizza-detail-info ul {
  text-transform: capitalize;
}


.cart {
  padding: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-name {
  text-transform: capitalize;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* flex-grow: 1; */
  padding: 0 1rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.cart-total .button {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .pizza-card {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .pizza-card {
    width: 100%;
  }

  .pizza-detail {
    flex-direction: column;
  }

  .pizza-detail-image {
    width: 100%;
  }
}
